body {
    margin: 0;
    padding: 0;
    background: var(--bg-color);
}

:root {
    --bg-color: #06333B;
    --color-main-text: #ffffff;
    --accent-color: #245D6B;
    --second-accent-color: #96D8E3;
    --third-accent-color: #35B4C9;
}







